@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

/*[class^="permission-button"] button {*/
    /*border-radius: 0 !important;*/
/*}*/

[class^="permission-button"] + [class^="permission-button"] {
    margin-left: 5px !important;
}

.click-on-edit-field:hover{
    background-color: lightgray;
}